@using DormitoryManagement.Domain
@using MyFramework.Domain
@using MyFramework.Web
@using MyFramework.Web.HtmlTags
@model DormitoryManagement.Domain.Academy

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
} 
<div class="breadcrumb">
    学院管理/编辑
</div> 
@using (Html.BeginForm("Edit", "Academy", FormMethod.Post, new {data_pjax = "", id = FrameworkKeys.FormId}))
{
    @Html.InputText("名称", Html.TextBoxFor(x => x.Name))
    @Html.InputText("简称", Html.TextBoxFor(x => x.ShortName))
    @Html.Submit(Html.Button("返回",  Url.Action("Index")))
}@Html.FormValidate(FrameworkKeys.FormId,
     Rule.Tag(Keys.Name).required(),
     Rule.Tag(Keys.ShortName).required())