@using MyFramework.Web
@model IEnumerable<DormitoryManagement.Domain.CheckResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb">
    房间管理/房间检查结果列表
    
</div>
<div class=" sepH_b">
    <div class=" col-sm-6">
        @Html.Backbutton()   
    </div>  
</div>  
 
@Html.Table(Model,
    t => t.AutoIndexColumn().Head("序号"),
    t => t.Column().Head("宿舍").Data(x => x.Room.Dorm.Name + x.Room.Name),
    t => t.Column().Head("检查时间").Data(x => x.CheckTime.ToString()),
    t => t.Column().Head("检查结果").Data(x => x.Grade) )