<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
    <configSections> 
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false" />
     </configSections>

    <appSettings>
        <add key="webpages:Version" value="1.0.0.0" />
      <add key="CheckBaseFile" value="C:/项目/Dorm/DormitoryManagement.Web/BaseFile"/>
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="DefaultPassWord" value="123456" /> 
        <add key="SoftIsRun" value="true"/>
        <add key="DataAssemblyType" value="DormitoryManagement.Domain.DormitoryManagementEntities" />
        <add key="DataAssemblyPath" value="DormitoryManagement" />
        <add key="DatabaseName" value="DormitoryManagementEntities" />
        <add key="FrameworkIoC" value="MyFramework" />
        <add key="ApplicationIoC" value="DormitoryManagement" />
        <add key="SystemName" value="湖南文理学院宿舍管理系统" />
        <!-- Smtp 服务器 -->
        <add key="SmtpHost" value="smtp.qq.com" />
        <!-- Smtp 服务器端口 -->
        <add key="SmtpPort" value="587" />
        <!--发送者 Email 地址-->
        <add key="FromEmailAddress" value="3274098531@qq.com" />
        <!--发送者 Email 密码-->
        <add key="EmailPassword" value="jbynoclctfbqdcaj" />
        <add key="PageSize" value="10" />
    </appSettings>
    <connectionStrings>
        <add name="DormitoryManagementEntities"
             connectionString="server=.\sqlexpress;database=DormitoryManagementEntities;integrated security=true;"
             providerName="System.Data.SqlClient" /> 
    </connectionStrings>

    <system.web>
        <sessionState mode="InProc"></sessionState>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add
                    assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation> 
        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn" timeout="800" />
        </authentication>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>


    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v11.0" />
            </parameters>
        </defaultConnectionFactory>
    </entityFramework>
    
</configuration>